/* Interação dos botões ao passar o mouse */
.login-btn:hover,
.register-btn:hover {
    opacity: 0.8;
    /* Leve transparência ao passar o mouse */
}

/* Corpo Principal (Main) */
.main {
    background-color: #F5F5F5;
}

.ofertas h2 {
    margin-bottom: 1rem;
    color: #FFD700;
    /* Amarelo da logo */
}

/* Grade de Cards */
.card-grid {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 1.5rem;
}

@media screen and ((max-width: 768px)) {
    .card-grid {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-bottom: 1rem;
}

.card p {
    color: #333;
    height: 50px;
}

.card span {
    color: #666;
    /* Preço em amarelo */
}

/* Detalhes do Produto */
.detalhes-produto {
    background-color: #FFF;
    /* Fundo branco */
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.detalhes-produto h2 {
    color: #333;
    /* Título em preto */
}

.detalhes-produto p {
    color: #666;
    /* Texto em cinza */
}

@media screen and (max-width: 768px) {
    .footer {
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;

    }
}

/* Categorias no Rodapé */
.categorias ul {
    list-style-type: none;
}

.categorias ul li {
    margin-bottom: 0.5rem;
    color: #FFD700;
}

.li-menu {
    display: flex;
    align-items: center;
}

.produtos-main {
    padding: 2rem;
}


.card {
    width: 250px;
    min-height: 350px;
    padding: 1.2em;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    cursor: pointer;
}

.card-img {
    background-color: #ffed87;
    height: 160px;
    border-radius: 8px;
    overflow: hidden;
}

.card-info {
    margin-top: 1rem;
}

svg {
    width: 20px;
    height: 20px;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    padding-top: 0.5rem;
    border-top: 1px solid #eee;
}

/*Text*/
.text-title {
    font-weight: 700;
    font-size: 1.1em;
    color: #333;
    margin-bottom: 0.5rem;
}

.text-title span {
    font-size: 1.1em;
    font-weight: 700;
    color: #333;
}

.text-body {
    font-size: 0.9em;
    color: #666;
    line-height: 1.4;
}

.card-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #ffd700;
    color: #fff;
    transition: background-color 0.2s ease;
}

.card-button:hover {
    background-color: #e6c200;
}


@media screen and (max-width: 768px) {
    .card-container {
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    /* Espaçamento entre os cards */
    padding: 2rem;
    background-color: #f7f8fc;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}