

/* Interação dos botões ao passar o mouse */
.login-btn:hover,
.register-btn:hover {
    opacity: 0.8;
    /* Leve transparência ao passar o mouse */
}

/* Corpo Principal (Main) */
.main {
    background-color: #F5F5F5;
    padding: 20px;
    /* Fundo da página */
}

.ofertas h2 {
    margin-bottom: 1rem;
    color: #FFD700;
    /* Amarelo da logo */
}

/* Grade de Cards */
.card-grid {
        display:flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        align-items: left;
        padding: 3rem;
}
@media screen and ((max-width: 768px)) {
    .card-grid {
        display:flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-bottom: 1rem;
}

.card p {
    color: #333;
    /* Texto escuro */
}

.card span {
    color: #666;
    /* Preço em amarelo */
}

/* Detalhes do Produto */
.detalhes-produto {
    background-color: #FFF;
    /* Fundo branco */
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.detalhes-produto h2 {
    color: #333;
    /* Título em preto */
}

.detalhes-produto p {
    color: #666;
    /* Texto em cinza */
}

@media screen and (max-width: 768px) {
    .footer {
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;

    }
}

/* Categorias no Rodapé */
.categorias ul {
    list-style-type: none;
}

.categorias ul li {
    margin-bottom: 0.5rem;
    color: #FFD700;
}

.li-menu {
    display: flex;
    align-items: center;
}

.produtos-main {
    padding: 2rem;
}


.card {
    width: 220px;
    height: 345px;
    padding: .8em;
    background: #f5f5f5;
    position: relative;
    overflow: visible;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin-top: 35px;
    margin-right: 75px;
}

.card-img {
    background-color: #ffed87;
    height: 40%;
    width: 100%;
    border-radius: .5rem;
    transition: .3s ease;
}

.card-info {
    padding-top: 10%;
}

svg {
    width: 20px;
    height: 20px;
}

.card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}

/*Text*/
.text-title {
    font-weight: 900;
    font-size: 1.2em;
    line-height: 1.5;
}

.text-body {
    font-size: .9em;
    padding-bottom: 10px;
}

/*Button*/
.card-button {
    border: 1px solid #252525;
    display: flex;
    padding: .3em;
    cursor: pointer;
    border-radius: 50px;
    transition: .3s ease-in-out;
}

/*Hover*/
.card-img:hover {
    transform: translateY(-25%);
    box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}

.card-button:hover {
    border: 1px solid #FFD700;
    background-color: #FFD700;
}

@media screen and (max-width: 768px) {
    .card-container {
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

.card-container {
    align-items: center;
    display: flex;
    justify-content: center

}