body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: fff;
  padding: 10px 20px;
  position: relative;
}

.logo {
  width: 120px;
}

.menu {
  display: flex;
  align-items: center;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.li-menu {
  margin-left: 20px;
  /* Mantém margem lateral para o menu desktop */
}

.li-menu  {
  color: #333;
  text-decoration: none;
  padding: 8px 12px;
  transition: background-color 0.3s;
  cursor: pointer;
}

.li-menu {
  background-color: rgba(255, 255, 255, 0.2);
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.line {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 3px 0;
  transition: 0.4s;
}

.open .line:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.open .line:nth-child(2) {
  opacity: 0;
}

.open .line:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: auto;
    padding: 10px 0;
  }

  .menu.open {
    display: block;
  }

  .menu ul {
    flex-direction: column;
    padding: 0;
  }

  .li-menu {
    margin: 0;
    text-align: center;
  }

  .li-menu a {
    padding: 8px 12px;
    display: block;
  }

  .hamburger {
    display: flex;
  }
}