/* Estilo geral da barra de consulta */
.search-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 20px;
    border-radius: 12px;
    width: 715px;
}

.search-bar select,
.search-bar input[type="number"],
.search-bar button {
    padding: 12px;
    font-size: 1rem;
    border-radius: 8px;
    transition: all 0.3s ease;
}

/* Estilo do dropdown de categorias */
.search-bar select {
    width: 100%;
    border: 1px solid #ced4da;
    color: #495057;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.2s ease-in-out;
}

.search-bar select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Estilo do campo de limite de itens */
.search-bar input[type="number"] {
    width: 100%;
    border: 1px solid #ced4da;
    color: #495057;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-bar input[type="number"]:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Estilo do botão */
.search-bar button {
    background-color: gray;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-bar button:hover {
    background-color: #333;
}

.search-bar button:active {
    background-color: #333;
    transform: scale(0.98);
}

/* Estilo responsivo */
@media (min-width: 600px) {
    .search-bar {
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
    }

    .search-bar select,
    .search-bar input[type="number"],
    .search-bar button {
        width: 30%;
    }
}
